.container {
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-bottom: 20px;
  & h2{
    font-weight: 900;
  }
  padding-top: 10px;
}
.barra-secundaria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}
.filtro{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  & p{
    margin: 5px auto;
  }
  & select{
    margin: 0 0 0 10px;
    padding: 0;
  }
}
.box {
  margin: 5px;
  padding: 15px;
  border: 1px solid darkgray;
  & img {
    width: 100%;
  }
}
.head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

