.whole{
    width: 100%;
    background-color: wheat;
}

.container{
    padding: 0;
}

.btn{
border: none;
transition: 0.2s;
}

.active{
    border: none;
    font-weight: bold;
    font-style: bold;
    &.nuevo{
        font-style: italic;
    }
}